<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.taw.Dao.UserMapper">

    <!--
    private Integer uid;
    private String loginName;
    private String password;
    private String name;
    private String sex;
    private String phone;
    private String email;
    private String descip;
    private String role;
    private Dept dept;
    -->
    <resultMap id="userMap" type="com.taw.bean.User">
        <id property="uid" column="uid" />
        <result property="loginName" column="loginName"/>
        <result property="password" column="password"/>
        <result property="name" column="name"/>
        <result property="sex" column="sex"/>
        <result property="phone" column="phone"/>
        <result property="email" column="email"/>
        <result property="descip" column="descip"/>
        <result property="role" column="role"/>
        <association property="dept" javaType="com.taw.bean.Dept">
            <id property="did" column="did"/>
            <result property="dname" column="dname"/>
            <result property="description" column="description"/>
        </association>
    </resultMap>

    <select id="findUserByloginNameAndPassword" resultMap="userMap">
        SELECT *
        FROM user
        WHERE loginName=#{loginName} AND password=#{password};
    </select>

    <select id="findAll" resultMap="userMap">
        SELECT *
        FROM user;
    </select>

    <delete id="deleteUserById">
        DELETE FROM user
        WHERE uid = #{uid}
    </delete>

    <delete id="deleteUserByDid">
        DELETE FROM user
        WHERE did = #{did}
    </delete>

    <select id="findByUid" resultType="com.taw.bean.User">
        SELECT *
        FROM user
        WHERE uid = #{uid}
    </select>

    <update id="resetPassword">
        UPDATE user
        SET password = '1234'
        WHERE uid = #{uid}
    </update>

    <update id="updateUser">
        UPDATE user
        SET loginName = #{user.loginName},name = #{user.name},sex = #{user.sex},phone = #{user.phone},email = #{user.email},descip = #{user.descip},did = #{user.did}
        WHERE uid = #{user.uid}
    </update>

    <select id="check" resultType="com.taw.bean.User">
        SELECT *
        FROM user
        WHERE loginName = #{user.loginName} AND uid != #{user.uid};
    </select>
</mapper>